# Dependências (Nunca devem ser versionadas)
node_modules/
dist/
dist-ssr/
*.local

# Variáveis de Ambiente / Credenciais (Segurança Crítica)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs e arquivos de diagnóstico
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de configuração do Sistema Operacional (Desnecessários)
.DS_Store
Thumbs.db
desktop.ini

# Arquivos de cache e configuração do VS Code / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp